
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .custom-loader-class {
        border-color: #FEA116;
        border-top-color: transparent;
    }
</style>

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Đơn hàng</h5>
            <h1 class="mb-5">Kiểm tra trạng thái đơn hàng của bạn</h1>
        </div>
        <div class="order-tracker-section wow fadeInUp" style="width:60%; margin:0 auto;">
            <form novalidate class="needs-validation">
                <div class="mb-4">
                    <label for="orderNumber" class="form-label"><b>Mã đơn hàng</b><span class="text-danger">*</span></label>
                    <input type="text" name="OrderId" class="form-control py-2" id="orderNumber" placeholder="Mã đơn hàng của bạn" required>
                    <div class="invalid-feedback">Vui lòng nhập mã đơn hàng của bạn.</div>
                </div>
                <div class="mb-3">
                    <button id="search" class="btn btn-primary btn-block py-2" style="width: 100%">Xem trạng thái đơn hàng</button>
                </div>
            </form>
            <div class="mt-3 mb-3">
                <p>Bạn có thể kiểm tra trạng thái đơn hàng bằng cách điền địa chỉ email đã đặt và mã đơn hàng của bạn. Trường hợp cần hỗ trợ, xin vui lòng gửi yêu cầu qua trang <a href="@Url.Action("Index", "Contact")">Liên hệ</a> để được trợ giúp.</p>
            </div>
        </div>
    </div>
</div>

<div id="partialViewContainer">
    <!-- This is where the partial view will be injected -->
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
@{
    // Define the URL using Razor syntax
    string purchaseHistoryUrl = Url.Action("ViewOrder", "PurchaseHistory");
}

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#search").click(function () {
            // Prevent the default form submission behavior
            event.preventDefault();

            // Get values from input fields
            var orderId = $("#orderNumber").val();

            // Log values to the console (optional)
            console.log("OrderId:", orderId);

            // Construct the URL with parameters
            var urlWithParameters = '@purchaseHistoryUrl' + '/' + orderId;

            // Show SweetAlert before making the AJAX request
            Swal.fire({
                title: 'Vui lòng chờ trong giây lát...',
                allowOutsideClick: false,
                onBeforeOpen: () => {
                    Swal.showLoading();
                },
                showConfirmButton: false,
                customClass: {
                    loader: 'custom-loader-class' // Custom class for the loader
                }
            });

            // Make an AJAX request to fetch the partial view
            $.ajax({
                url: urlWithParameters,
                type: 'GET',
                beforeSend: function () {
                    // Code to execute before the AJAX request is sent
                },
                success: function (result) {
                    // Inject the partial view into the DOM
                    $("#partialViewContainer").html(result);
                },
                error: function (error) {
                    // Handle the error response
                    console.error("AJAX request error:", error);
                },
                complete: function () {
                    // Code to execute when the AJAX request is completed
                    // Hide SweetAlert after the request is complete
                    Swal.close();
                }
            });
        });
    });
</script>


@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        $(document).ready(function () {
            // Gọi hàm cập nhật số lượng mục trong giỏ hàng khi trang được tải
            updateCartItemCount();

            // Hàm để gọi action và cập nhật số lượng trên giao diện
            function updateCartItemCount() {
                $.ajax({
                    url: '@Url.Action("GetCartItemCount", "ShoppingCart")', // Đường dẫn đến action
                    type: 'GET',
                    success: function (data) {
                        // Xử lý dữ liệu trả về, ở đây có thể làm bất cứ điều gì bạn muốn
                        console.log('Số lượng mục trong giỏ hàng: ' + data.itemCount);

                        // Cập nhật giao diện người dùng với số lượng mới
                        $('#cart_count').text(data.itemCount);
                    },
                    error: function () {
                        console.log('Lỗi khi gọi action');
                    }
                });
            }
        });
    </script>
}






